<div class="text-center">
    <br /><br />
    <h1>Thank you for the feedback!</h1>
    <br /><br />
    <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Index", "Home")'">Go to Home Page</button>
</div>