<div class="text-center">
    <h2>@ViewBag.Post.Compliment</h2>
    <img style="width:55%; max-height:450px" src="@ViewBag.Post.ImageLink" />
    <br /><br />
    <button type="button" class="btn btn-dark" onClick="window.location.reload();">Refresh</button>
</div>
